/*Menu mobile*/

#dropdown-mobile {
  display: none;
}

#dropdown-mobile.toggle {
  display: block;
}

/*Background images*/

.background-heroe {
  background-image: url("./images/background-heroe.jpg");
}

.background-third {
  background-image: url("./images/background-third.jpg");
}

.background-cta {
  background-image: url("./images/background-cta.jpg");
}

.polygon-heroe {
  clip-path: polygon(15% 0, 100% 0%, 100% 90%, 0 100%);
}

.polygon-third {
  clip-path: polygon(
    0% 2vw,
    100% 0,
    100% 100%,
    0% calc(100% - 4vw)
  );
}

.polygon-cta {
  clip-path: polygon(
    0 0,
    100% 2vw,
    100% 100%,
    0 100%
  );
}

.polygon-footer {
  clip-path: polygon(0 20%, 100% 10%, 100% 100%, 0% 100%);
}

/*Background colors*/

.bg-frameworks {
  background-color: #AA0000;
}

.hover\:bg-frameworks:hover {
  background-color: #AA0000;
}

.bg-datasets {
  background-color: #62CC41;
}

.hover\:bg-datasets:hover {
  background-color: #62CC41;
}

.bg-models {
  background-color: #955696;
}

.hover\:bg-models:hover {
  background-color: #955696;
}

.bg-tools {
  background-color: #F5A428;
}

.hover\:bg-tools:hover {
  background-color: #F5A428;
}

.bg-solutions {
  background-color: #88CCC6;
}

.hover\:bg-solutions:hover {
  background-color: #88CCC6;
}

.bg-advanced {
  background-color: #5E5FF9;
}

.hover\:bg-advanced:hover {
  background-color: #5E5FF9;
}

.bg-dashboards {
  background-color: #F87F45;
}

.hover\:bg-dashboards:hover {
  background-color: #F87F45;
}

.bg-papers {
  background-color: #F77672;
}

.hover\:bg-papers:hover {
  background-color: #F77672;
}

/*Border colors*/

.text-frameworks {
  color: #AA0000;
}

.text-datasets {
  color: #62CC41;
}

.text-models {
  color: #955696;
}

.text-tools {
  color: #F5A428;
}

.text-solutions {
  color: #88CCC6;
}

.text-advanced {
  color: #5E5FF9;
}

.text-dashboards {
  color: #F87F45;
}

.text-papers {
  color: #F77672;
}

/*Font colors*/

.border-frameworks {
  border-color: #AA0000;
}

.border-datasets {
  border-color: #62CC41;
}

.border-models {
  border-color: #955696;
}

.border-tools {
  border-color: #F5A428;
}

.border-solutions {
  border-color: #88CCC6;
}

.border-advanced {
  border-color: #5E5FF9;
}

.border-dashboards {
  border-color: #F87F45;
}

.border-papers {
  border-color: #F77672;
}

/*Animation*/

.moving-elt {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}

.morphing-radius {
  animation: morphing 10s infinite;
}

.morphing-radius-2 {
  animation: morphing_two 10s infinite;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  25% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  50% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  75% {
    border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

@keyframes morphing_two {
  0% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
  25% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  50% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  75% {
    border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
  }
  100% {
    border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
  }
}

