#dropdown-mobile {
  display: none;
}

#dropdown-mobile.toggle {
  display: block;
}

.background-heroe {
  background-image: url("/images/background-heroe.jpg");
}

.polygon-heroe {
  clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%);
}

.moving-elt {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
